In [ ]:
fruits = ["apple", "banana", "cherry"]
for a in fruits:
  print("I'm a",a)

I'm a apple
I'm a banana
I'm a cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
for index,fruit in enumerate(fruits):
  print("Index", index,":", fruit)

Index 0 : apple
Index 1 : banana
Index 2 : cherry

##Square root Problem

In [ ]:
import math
list=[1,2,3,4,5,6,7,8,9,10,11,12]
for i in list:
  if i % 2 == 0:
    ans = math.sqrt(i)
    print("The SQRT of", i, "is", ans)

The SQRT of 2 is 1.4142135623730951
The SQRT of 4 is 2.0
The SQRT of 6 is 2.449489742783178
The SQRT of 8 is 2.8284271247461903
The SQRT of 10 is 3.1622776601683795
The SQRT of 12 is 3.4641016151377544

In [ ]:
for index,n in enumerate("janmejay"):
  print("Index", index,":", n)

Index 0 : j
Index 1 : a
Index 2 : n
Index 3 : m
Index 4 : e
Index 5 : j
Index 6 : a
Index 7 : y

In [ ]:
for i in range(int(input("Enter")),int(input("Enter"))):
  if i % 2==0:
    print(i*i,end=" , ")

Enter1
Enter21
4 , 16 , 36 , 64 , 100 , 144 , 196 , 256 , 324 , 400 ,

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
num=(int(input()))
for i in list:
for i in range(num):
  if i == int(input("Enter Index")):
    break

IndentationError: expected an indented block after 'for' statement on line 3 (<ipython-input-35-e6bfc6431bc9>, line 4)

In [ ]:
n=10
sum=0
for i in range(1,n+1):
  print(i)
  sum=i+sum
print(sum)

1
2
3
4
5
6
7
8
9
10
55