In [1]:
quote = "hi my name is janmejay. Nice to meet you "

In [11]:
quote = "hi my name is janmejay. Nice to meet you "
first_chars = [i[0] for i in quote.split()]
print(first_chars)

['h', 'm', 'n', 'i', 'j', 'N', 't', 'm', 'y']

In [9]:
def get_first_chars(quote):
  first_chars = [i[0] for i in quote.split()]
  return first_chars

In [10]:
get_first_chars("Hello my name is janmejay")

['H', 'm', 'n', 'i', 'j']

##1- Write a function that calculates the area of a rectangle given its length and width.

Description: Create a function that takes two parameters, length and width, and returns the area of the rectangle calculated using the formula: area = length * width.

In [16]:
def ar(length,width):
  area=(length*width)
  return(area)

In [17]:
ar(10,2)

20

##2- Create a function that converts temperature from Celsius to Fahrenheit.

Description: Define a function that accepts a temperature value in Celsius and returns its equivalent in Fahrenheit using the conversion formula: Fahrenheit = (Celsius * 9/5) + 32.

In [23]:
def temp(n):
  far=(n*9/5)+32
  return(far)

In [24]:
temp(10)

50.0

##3- Write a function to find the factorial of a number.

Description: Implement a function that computes the factorial of a given number using recursion or iteration.

In [37]:
def fact(num):
  factorial = 1
  for i in range(1, num + 1):
    factorial =factorial * i
  return factorial

In [38]:
fact(5)

120