In [ ]:
quote = "hi my name is janmejay. Nice to meet you "

In [ ]:
quote = "hi my name is janmejay. Nice to meet you "
first_chars = [i[0] for i in quote.split()]
print(first_chars)

['h', 'm', 'n', 'i', 'j', 'N', 't', 'm', 'y']

In [ ]:
def get_first_chars(quote):
  first_chars = [i[0] for i in quote.split()]
  return first_chars

In [ ]:
get_first_chars("Hello my name is janmejay")

['H', 'm', 'n', 'i', 'j']

##1- Write a function that calculates the area of a rectangle given its length and width.

Description: Create a function that takes two parameters, length and width, and returns the area of the rectangle calculated using the formula: area = length * width.

In [ ]:
def ar(length,width):
  area=(length*width)
  return(area)

In [ ]:
ar(10,2)

20

##2- Create a function that converts temperature from Celsius to Fahrenheit.

Description: Define a function that accepts a temperature value in Celsius and returns its equivalent in Fahrenheit using the conversion formula: Fahrenheit = (Celsius * 9/5) + 32.

In [ ]:
def temp(n):
  far=(n*9/5)+32
  return(far)

In [ ]:
temp(10)

50.0

##3- Write a function to find the factorial of a number.

Description: Implement a function that computes the factorial of a given number using recursion or iteration.

In [ ]:
def fact(num):
  factorial = 1
  for i in range(1, num + 1):
    factorial =factorial * i
  return factorial

In [ ]:
fact(5)

120

##4- Design a function to check if a given number is prime.
Description: Develop a function that determines whether a given number is prime or not. A
prime number is a natural number greater than 1 that has no positive divisors other than 1
and itself.

In [ ]:
def prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num//2) + 1):
    if num % i == 0:
      return False
  return True

In [ ]:
prime(71)

True

##5- Create a function that reverses a given string.
Description: Define a function that takes a string as input and returns its reverse. For
example, "hello" should be returned as "olleh".

In [ ]:
def reverse_data(data):
  return data[::-1]

In [ ]:
reverse_data("hello")

'olleh'

##6- Write a function to compute the nth Fibonacci number.
Description: Implement a function that returns the nth Fibonacci number, where Fibonacci
sequence starts with 0 and 1, and each subsequent number is the sum of the previous two.

In [ ]:
def fibonacci(n):
  if n < 0:
    return None
  if n < 2:
    return n
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)

In [ ]:
fibonacci(32)

2178309

##7- Create a function to find the largest element in a list.
Description: Develop a function that takes a list of numbers as input and returns the largest
element present in the list.

In [6]:
def maximum(list):
    i = list[0]
    for a in list:
        if a > i:
            i = a
    return i

In [7]:
maximum([6,7,8,9,10,11,12])

12