## 1.Write a Python program to sum all the elements in a list.

In [1]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [2]:
print(sum(my_list))

55

## 2. Write a Python program to find the largest element in a list.

In [3]:
print(max(my_list))

10

## 3. Write a Python program to count the number of elements in a list.

In [4]:
print(len(my_list))

10

## 4. Write a Python program to find the average of elements in a list.

In [6]:
avg=sum(my_list)/ len(my_list)
print(avg)

5.5

## 5. Write a Python program to reverse a list.

In [8]:
r_my_list=sorted(my_list, reverse=True)
print(r_my_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

##6. Write a Python program to check if a given element exists in a list.

In [36]:
print(my_list.count(2))

1

##7. Write a Python program to remove duplicate elements from a list.

In [37]:
a=(1,2,3,2,1,4,5,6,6)
c=set(a)
print(c)

{1, 2, 3, 4, 5, 6}

## 8. Write a Python program to find the second largest element in a list.

In [20]:
my_list[-2]

9

## 9. Write a Python program to sort elements in a list in ascending order.

In [13]:
print(sorted(my_list))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

## 10. Write a Python program to merge two lists and sort them.

In [23]:
my_list
my_list.extend([1,11,12,13,14,15,16])

In [24]:
sorted(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

##11. Question: Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.

In [25]:
 nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
nested_list_row[-1][-1]

9

##12. Question: Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this.

In [27]:
nested_list_row[-1][-2]

8

## 13. Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?

In [34]:


nested_list_column[2][3][3]

100

## 14. Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?

In [31]:
nested_list_column[-1][-1][-1]

100